[submodule "bundles/illarion-vbu-data"]
	path = bundles/illarion-vbu-data
	url = https://github.com/SeleneWorlds/Illarion-VBU-Data.git
[submodule "bundles/illarion-vbu-map"]
	path = bundles/illarion-vbu-map
	url = https://github.com/SeleneWorlds/Illarion-VBU-Map.git
